@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
	font-family: 'Roboto', sans-serif;
}

nav {
	display: flex;
	justify-content: space-around;
	margin: 10px auto;
}

a {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	padding: 5px 10px;
}

a:hover {
	background-color: #d5d9d9;
}

.container {
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}

.home {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 50%;
	width: 100%;
	
}


ul div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

ul li {
	list-style-type: none;
}

button {
	display: block;
	background-color: #fff;
	border: 1px solid #d5d9d9;
	border-radius: 8px;
	box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
	cursor: pointer;
	color: #0f1111;
	text-align: center;
	padding: 5px 10px 5px 11px;
}

.button:hover {
  background-color: #f7fafa;
}

h4 > span {
	font-size: 20px;
}

.subscribed {
	background-color: yellow;
}